<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        <!--1.导入spring的坐标spring-context，对应版本5.2.10.RELEASE-->

        <!--2.配置Bean-->
        <!--
                bean标签表示配置benn
                id属性表示给bean起名字
                class属性表示给bean定义类型
        -->
        <!--dao层-->
        <bean id="bookDao" class="com.yuanh.dao.impl.BookDaoImpl"/>
        <!--service-->
        <bean id="bookService" class="com.yuanh.service.impl.BookServiceImpl" />
</beans>