<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        <!--1.导入spring的坐标spring-context，对应版本5.2.10.RELEASE-->

        <!--2.配置Bean-->
        <!--
                bean标签表示配置benn
                id属性表示给bean起名字
                class属性表示给bean定义类型
        -->
        <!--dao层-->
        <!--<bean id="bookDao"  class="com.yuanh.dao.impl.BookDaoImpl"/>-->
        <!--name 取别名-->
<!--        <bean id="bookDao" name="dao"  class="com.yuanh.dao.impl.BookDaoImpl"/>-->

        <!--
                定义bean的作用范围scope
                singleton：单列默认
                prototype: 非单列 创建的bean不一样
        -->
        <!--<bean id="bookDao" name="dao"  class="com.yuanh.dao.impl.BookDaoImpl" scope="prototype"/>-->



        <!--service-->
        <!--name="service service2 bookEbi" 起别名-->
       <!-- <bean id="bookService"  class="com.yuanh.service.impl.BookServiceImpl" >-->
        <!--<bean id="bookService" name="service service2 bookEbi" class="com.yuanh.service.impl.BookServiceImpl" >
                &lt;!&ndash;7.配置service与dao的关系&ndash;&gt;
                &lt;!&ndash;
                     property标签配置当前bean的属性
                     name属性表示配置那一个具体属性
                     ref属性表示参照那一个bean
                &ndash;&gt;
                <property name="bookDao" ref="bookDao" />
                &lt;!&ndash;调用上别的别名 建议还是调用id的名字 &ndash;&gt;
                &lt;!&ndash;<property name="bookDao" ref="dao" />&ndash;&gt;
        </bean>-->




        <!--bean的实列化-->
        <!--方式一：构造方法实列化-->
<!--        <bean id="bookDao" class="com.yuanh.dao.impl.BookDaoImpl" />-->

        <!--方式二：使用静态工厂实列化bean    factory-method必须吧方法名写上不然不知道调用那个方法  -->
<!--        <bean id="orderDao" class="com.yuanh.factory.OrderDaoFactory" factory-method="getOrderDao" />-->

        <!--方式三：使用实列工厂实例化bean-->
        <!--1.创建userFactory的bean-->
        <!--<bean id="userFactory" class="com.yuanh.factory.UserDaoFactory" />-->
        <!--2.在创建bean-->
        <!--<bean id="userDao" factory-method="getUserDao" factory-bean="userFactory"/>-->

        <!--方法四：实列化工厂 使用FactoryBean 实列化bean-->
        <bean id="userDao" class="com.yuanh.factory.UserDaoFactoryBean" />
</beans>